{
    "parser": "babel-eslint",
    "extends": "eslint:recommended",
    "env": {
        "es6": true,
        "browser": true,
        "node": true
    },
    "plugins": [
        "html"
    ],
    "rules": {
        "no-console": 0,
        "no-global-assign": ["error", { "exceptions": ["console"] }]
    },
    "globals": {
        "$": true
    }
}